@using System;
@using System.Collections;
@using System.Linq;
@using System.Text.RegularExpressions;
@using DotNetNuke.Common;
@using ToSic.SexyContent;

<link rel="stylesheet" href="@App.Path/carousel.css" />

<div class="carousel">
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-8">
            <div class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls" id="blueimp-gallery-carousel-@Dnn.Module.ModuleID">
                <div class="slides">&nbsp;</div>
                <h3 class="title">&nbsp;</h3>
                <a class="prev">&lsaquo;</a> <a class="next">&rsaquo;</a>
                <ol class="indicator">
                </ol>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="slide-info">
                <h3 class="slide-info-title"></h3>
                <p class="slide-info-description"></p>
                <p class="more">&nbsp;</p>
            </div>
        </div>
    </div>
    @if (Globals.IsEditMode()) {
        <div class="row mt-3">
            <div class="col">
                <div class="card card-body border-primary">
                    <h5 class="card-title">Edit Slides:</h5>
                    <ul>
                        @foreach(var item in List) {
                            var content = item.Content;
                            <li @Edit.TagToolbar(content)>@content.Title</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>

<!-- data links -->
<div class="hidden" id="carousel-links-@Dnn.Module.ModuleID">
@foreach(var item in List) {
    var content = item.Content;
    
    if (!string.IsNullOrEmpty (@content.YouTubeVideoId)) {
        <a href='@("https://www.youtube.com/watch?v=" + content.YouTubeVideoId)'
            type="text/html"
            title="@content.Title"
            data-youtube="@content.YouTubeVideoId"
            data-poster='@("http://img.youtube.com/vi/" + content.YouTubeVideoId + "/maxresdefault.jpg")'
            data-description="@content.Description"
            data-background-color="@content.BackgroundColor">
        </a>
    }
    else {
        <a href="@content.Image?h=419"
            data-poster="@content.Poster?h=419"
            title="@content.Title"
            data-description="@content.Description"
            data-background-color="@content.BackgroundColor">
        </a>
    }
}
</div>
    
<script>
$(document).ready(function() {
  blueimp.Gallery(
    document.getElementById('carousel-links-@Dnn.Module.ModuleID').getElementsByTagName('a'),
    {
        container: '#blueimp-gallery-carousel-@Dnn.Module.ModuleID',
        carousel: true,
      	slideshowInterval: 6000,
      	onslide: function (index, slide) {
          var moreUrl = this.list[index].getAttribute('data-more-url'),
            moreLabel = this.list[index].getAttribute('data-more-label'),
            node = this.container.find('.more');
          
          node.empty();
          if (moreUrl && moreLabel) {
            node[0].innerHTML = "<a href='" + moreUrl + "' target='_blank'>" + moreLabel + "</a>"
          }
          
          var bgColor = this.list[index].getAttribute('background-color');
          var slideInfoPane = $(this.container).parent().parent().find('.slide-info');
          slideInfoPane.attr ("style", "background-color:" + bgColor);
          
          var title = this.list[index].getAttribute('title');
          var slideInfoTitle = $(this.container).parent().parent().find('.slide-info-title');
          slideInfoTitle.text (title);
          
          var descr = this.list[index].getAttribute('data-description');
          var slideInfoDescr = $(this.container).parent().parent().find('.slide-info-description');
          slideInfoDescr.html (descr);
          
        }
    }
);
});
</script>