@using System;
@using System.Collections;
@using System.Linq;
@using System.Text.RegularExpressions;
@using DotNetNuke.Common;
@using ToSic.SexyContent;

<link rel="stylesheet" href="@App.Path/carousel.css" />

<div class="carousel">
	<div class="row no-gutters">
		<div class="col-sm-12 col-md-8">
			<div class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls" id="carousel_@Dnn.Module.ModuleID">
				<div class="slides">&nbsp;</div>
				<h3 class="title">&nbsp;</h3>
				<a class="prev">&lsaquo;</a>
				<a class="next">&rsaquo;</a>
				<ol class="indicator"></ol>
			</div>
		</div>
		<div class="col-sm-12 col-md-4">
			<div class="slide-info">
				<h3 class="slide-info-title"></h3>
				<p class="slide-info-description"></p>
				<div class="slide-more">
					<a class="btn btn-sm btn-outline-secondary btn-block slide-more-link" href="#"></a>
				</div>
			</div>
		</div>
	</div>
	@if (Globals.IsEditMode()) {
		<div class="row mt-3">
			<div class="col-6">
				<div class="card card-body border-primary">
					<h5 class="card-title">Edit carousel:</h5>
					<p @Edit.Toolbar(ListContent)></p>
					<hr />
					<h6>Edit slides:</h6>
					<ul>
						@foreach(var item in List) {
							var content = item.Content;
							<li @Edit.TagToolbar(content)>@content.Title</li>
						}
					</ul>
				</div>
			</div>
		</div>
	}
</div>

<div class="hidden" id="carouselDataLinks_@Dnn.Module.ModuleID">
@foreach(var item in List) {
	var content = item.Content;
	if (!string.IsNullOrEmpty (@content.YouTubeId)) {

		var videoPoster = !string.IsNullOrEmpty (content.Image)
			? content.Image + "?h=419"
			: "http://img.youtube.com/vi/" + content.YouTubeId + "/maxresdefault.jpg";

		<a href='@("https://www.youtube.com/watch?v=" + content.YouTubeId)'
			type="text/html"
			title="@content.Title"
			data-youtube="@content.YouTubeId"
			data-poster="@videoPoster"
			data-description="@content.Description"
			data-info-pane-style="@content.InfoPaneStyle"
			data-more-link="@content.MoreLink"
			data-more-link-label="@content.MoreLinkLabel"
			data-more-link-target="@content.MoreLinkTarget">
		</a>
	}
	else {
		<a href="@content.Image?h=419"
			title="@content.Title"
			data-description="@content.Description"
			data-info-pane-style="@content.InfoPaneStyle"
			data-more-link="@content.MoreLink"
			data-more-link-label="@content.MoreLinkLabel"
			data-more-link-target="@content.MoreLinkTarget">
		</a>
	}
}
</div>

<script>
$(document).ready(function() {
	blueimp.Gallery(
		document.getElementById('carouselDataLinks_@Dnn.Module.ModuleID').getElementsByTagName('a'),
		{
			container: '#carousel_' + @Dnn.Module.ModuleID,
			carousel: true,
			slideshowInterval: 6000,
			onslide: function (index, slide) {
				var content = {
					title: this.list[index].getAttribute('title'),
					description: this.list[index].getAttribute('data-description'),
					infoPaneStyle: this.list[index].getAttribute('data-info-pane-style'),
					moreLink: this.list[index].getAttribute('data-more-link'),
					moreLinkLabel: this.list[index].getAttribute('data-more-link-label'),
					moreLinkTarget: this.list[index].getAttribute('data-more-link-target')
				};

				var slideInfoPane = $(this.container).parent().parent().find('.slide-info');
				if (content.infoPaneStyle) {
					slideInfoPane.attr ("style", content.infoPaneStyle);
				}
				else {
					slideInfoPane.attr ("style", "");
				}

				var slideInfoTitle = $(this.container).parent().parent().find('.slide-info-title');
				slideInfoTitle.text (content.title);

				var slideInfoDescr = $(this.container).parent().parent().find('.slide-info-description');
				slideInfoDescr.html (content.description);

				var slideMoreLink = $(this.container).parent().parent().find('.slide-more-link');
				if (content.moreLink) {
					slideMoreLink.attr ("href", content.moreLink);
					if (content.moreLinkLabel) {
						slideMoreLink.text (content.moreLinkLabel);
					}
					else {
						slideMoreLink.text ("More info...");
					}
					if (content.moreLinkTarget) {
						slideMoreLink.attr ("target", content.moreLinkTarget);
					}
					slideMoreLink.parent().show();
				}
				else {
					slideMoreLink.parent().hide();
				}
			}
		}
	);
});
</script>
